frontend/node_modules/
frontend/build/
frontend/.env
backend/__pycache__/
backend/*.pyc
backend/uploads/
backend/indexes/
backend/venv/
backend/hf-space/
backend/siksha_backend_sr/
.env
*.pyc
.DS_Store
Thumbs.db